@import "../../styles/index";

.title {
  &-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &-image__item {
    max-width: 400px;
    width: 100%;
    @include mobile {
      max-width: unset;
    }
  }

  &-top {
    position: relative;

    .title-text {
      position: absolute;
      left: 50%;
      top: 25%;
      transform: translate(-50%, -25%);
      font-size: $font-size-large;
      text-transform: uppercase;
      text-align: center;
      width: 80%;
      font-weight: $font-weight-bold;
      @include mobile {
        width: 80%;
      }
    }
  }
}